*{

}
.navbar{
    display: flex;
    box-sizing: border-box;
    background-color: black;
    justify-content: space-between;
}
.logo{
    display: flex;
    margin: 10px;
    padding: 20px;
    color: white;
}
.search{
    display: flex;
    border-radius: 60px;
    justify-items: center;
    align-items: center;
}
.logo img{
    width: 100px;
    height: 30px;
}
.nav{
    display: flex;
     margin: 10px;
    padding: 0px;   
}
.nav a{
    display: flex;
    text-decoration: none;
    padding: 20px;
    color: white;

}
.cards{
    display: flex;
    padding: 40px;
    justify-content: space-between;
}
.child-card{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.child-card img{
    width: 120px;
}
.cards1{
    display: flex;
    padding: 40px;
    justify-content: space-between;
}
.child-card1{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.child-card1 img{
    width: 120px;
}
.banner{
    display: flex;
    justify-items: center;
    align-items: center;
}